<body class="counter-scroll">
    <canvas class="cursor-trail" id="trail" style="display: none;"></canvas>

    <!-- Scroll Top -->
    <button id="goTop">
        <span class="border-progress"></span>
        <span class="ic-wrap">
            <span class="icon icon-long-arrow-alt-up-solid"></span>
        </span>
    </button>

    <main id="wrapper">

        <!-- Header -->
        <header class="tf-header header2">
            <div class="header-inner">
                <a routerLink="./" class="logo-site">
                    <img src="logo.png" alt="Logo"> </a>
                <div class="box-navigation">

                    <ul class="nav-menu-main">
                        @for (item of headerMenu; track item.label) {

                        @if (item.children?.length) {
                        <li class="menu-item has-child" routerLinkActive="active-parent">

                            <a href="javascript:void(0)" class="item-link link1">
                                {{ item.label }}
                            </a>

                            <ul class="sub-menu">
                                @for (child of item.children; track child.label) {
                                @if (child.external) {
                                <li class="sub-menu-item">
                                    <a [href]="child.route" target="_blank" rel="noopener noreferrer">
                                        {{ child.label }}
                                    </a>
                                </li>
                                } @else {
                                <li class="sub-menu-item">
                                    <a [routerLink]="child.route">
                                        {{ child.label }}
                                    </a>
                                </li>
                                }
                                }
                            </ul>

                        </li>
                        } @else {
                        <li class="menu-item">
                            <a [routerLink]="item.route" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="item-link link1">
                                {{ item.label }}
                            </a>
                        </li>
                        }

                        }
                    </ul>
                </div>
                <a routerLink="/startUp" class="tf-btn d-lg-flex d-none">
                    Start a Project
                </a>
                <a href="#" class="tf-btn open-mb-menu mobile-menu d-lg-none d-flex">
                    <i class="icon icon-grip-lines-solid"></i>
                </a>
            </div>
        </header>
        <!-- /Header -->

        <router-outlet></router-outlet>

    </main>
</body>