 <div class="box-white">
            <!-- section-process -->
            <div class="section-process flat-spacing">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="process-heading h-100">
                                <div class="heading-section mb-80">
                                    <div class="heading-sub fw-semibold effectFade fadeUp">Process</div>
                                    <div class="heading-title text-gradient-3 effectFade fadeRotateX">From Idea <br> to Production</div>
                                </div>
                                <div class="group-btn-slider">
                                    <div class="nav-prev-swiper">
                                        <i class="icon icon-angle-left-solid"></i>
                                    </div>
                                    <div class="nav-next-swiper">
                                        <i class="icon icon-angle-right-solid"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="process-slide">
                                <div dir="ltr" class="swiper tf-swiper swiper-box-shadow" data-preview="1.78" data-tablet="1.78" data-mobile-sm="1.5" data-mobile="1.2"
                                    data-loop="false" data-center="false" data-space-lg="24" data-space-md="24" data-space="15" >
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="process-card">
                                                <i class="icon icon-search-solid"></i>
                                                <div class="content">
                                                    <h4 class="title fw-semibold">Discover & Scope</h4>
                                                    <p class="text text-secondary">Align on problems, data reality, and success metrics. Opportunity brief, KPI model, phased roadmap, effort/cost ranges.</p>
                                                </div>
                                                <div class="bot">
                                                    <div class="time fw-semibold">3-7 DAYS</div>
                                                    <div class="number">
                                                        <span class="text-neutral-400">01</span>
                                                        <span class="text-neutral-200">/03</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="process-card">
                                                <i class="icon icon-bolt-solid"></i>
                                                <div class="content">
                                                    <h4 class="title fw-semibold">Prototype</h4>
                                                    <p class="text text-secondary">De-risk unknowns and validate value quickly. Clickable UX, tech spike repo, initial eval rubric, demo.</p>
                                                </div>
                                                <div class="bot">
                                                    <div class="time fw-semibold">1-2 WEEKS</div>
                                                    <div class="number">
                                                        <span class="text-neutral-400">02</span>
                                                        <span class="text-neutral-200">/03</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="process-card">
                                                <i class="icon icon-user-check-solid-1"></i>
                                                <div class="content">
                                                    <h4 class="title fw-semibold">Validate & Evals</h4>
                                                    <p class="text text-secondary">Prove accuracy, usability, safety, and cost. Eval dashboard, acceptance thresholds, decision to iterate/ship.</p>
                                                </div>
                                                <div class="bot">
                                                    <div class="time fw-semibold">1 WEEKS</div>
                                                    <div class="number">
                                                        <span class="text-neutral-400">03</span>
                                                        <span class="text-neutral-200">/03</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /section-process -->
        </div>
        <!-- section-faqs -->