
.ai-gradient {
  background: linear-gradient(135deg,
      #5B7CFF,
      #7C3AED,
      #C026D3,
      #FF4D8D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sub-tagline {
  border-left: solid;
  border-right: solid;
  border-top: outset;
}

.font-style-h1 {
  font-family: "Sofia", sans-serif;
}

.title-icon-custom {
  transform: translateY(20px);
  padding-top: 13px;
}

.start-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
  line-height: 1.2;
  letter-spacing: .3px;

  &:hover {
    background: linear-gradient(90deg, #FF4D8D, #C026D3, #7C3AED, #5B7CFF);
    color: white;
    text-decoration: none;
  }
}